<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
          http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
          http://www.springframework.org/schema/security
          http://www.springframework.org/schema/security/spring-security-4.2.xsd">

    <http>
        <intercept-url pattern="/match" access="hasRole('ROLE_USER')"/>
        <intercept-url pattern="/bettors" access="hasRole('ROLE_USER')"/>
        <intercept-url pattern="/statistics" access="hasRole('ROLE_USER')"/>
        <intercept-url pattern="/main" access="hasRole('ROLE_USER')"/>
        <intercept-url pattern="/admin" access="hasRole('ROLE_ADMIN')"/>
        <intercept-url pattern="/proposed-match-mappings" access="hasRole('ROLE_ADMIN')"/>
        <csrf disabled="true"/>
        <http-basic/>
    </http>

    <authentication-manager>
        <authentication-provider>
            <user-service id="userDetailsService" properties="file:${env.config.dir}//users.properties"/>
        </authentication-provider>
    </authentication-manager>



</beans:beans>